@import url('./style.css');

/* Additional global styles for Next.js */
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-base);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
